*{
    padding: 0;
    margin: 0;
    
}
.AdminHomeContainer
{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    background-color:lightgrey;
}
.flex
{
    display: flex;
    justify-content:space-evenly;
}
.MuiCollapse-wrapper.MuiCollapse-vertical.css-smkl36-MuiCollapse-wrapper {
    border: 1px solid black;
    max-width: 23vw;
    height: auto;
    font-size: 1em;
    display: inline-block;
    word-break: break-all;
}
/* .py-5
{
    height: 100%;
    width: 100%;
} */