*{
    padding: 0;
    margin: 0;
    
}
.AdminHomeContainer
{
    /* position: absolute;  */
    height: 100%;
    width: 100%;
    background-color:lightgrey;
}
.flex
{
    display: flex;
    justify-content:space-evenly;
}
.MuiCollapse-wrapper.MuiCollapse-vertical.css-smkl36-MuiCollapse-wrapper {
    border: 1px solid black;
    max-width: 23vw;
    height: auto;
    font-size: 1em;
    display: inline-block;
    word-break: break-all;
}
.App {
    font-family: sans-serif;
    text-align: center;
}
.complaintContainer
{
    min-height: 50vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.complaintSubContainer
{
    /* border:2px solid green; */
    height:auto;
    flex: 0.5;
    text-align: center;
    align-items: center;
    display: inline-block;
    word-wrap: break-word;
    padding:3%;
    /* flex-wrap: wrap; */
}
.csc2
{
    border-left:2px dotted grey;
    /* border-width:"thin"; */
}
.modal-css {
    position: absolute;
    /* width: 1000px; */

}